.main-services{
    padding: 20px 20px;
    color:var(--color)
}
.services-heading{
    text-align:center;
    font-size: 30px;
    font-weight: normal;
}
.main-services-1-content, .main-services-2-content{
    display: flex;
    justify-content: space-evenly;
}
.services-content-1, .services-content-2,
.services-content-3, .services-content-4,
.services-content-5, .services-content-6{
    width: 33%;
    padding: 20px;
}
.services-subcontent{
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    text-align: center;
}
@media screen and (max-width:768px) {
    .main-services-1-content, .main-services-2-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-content-1, .services-content-2,
.services-content-3, .services-content-4,
.services-content-5, .services-content-6{
    width: 65%;
    padding: 20px;
    /* text-align:center; */
}
}

@media screen and (max-width:321px) {
   
    .services-content-1, .services-content-2,
.services-content-3, .services-content-4,
.services-content-5, .services-content-6{
    width: 100%;
    /* padding: 20px; */
    /* /~ text-align:center; ~/ */
}
}